<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="Coworking, Nicaragua, Managua, Oficina, Colaborativa, Software Libre" />
    <meta name="description" content="Oficina colaborativa (coworking) en Managua, Nicaragua" />
    <meta name="Content-Language" content="es" />
    <meta name="ROBOTS" content="INDEX, FOLLOW" />
    <meta name="revisit-after" content="30 days" />

    <title>co-labora {{ page.title }}</title>
    <link href="css/default.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="js/jquery.backstretch.min.js"></script>
    <script src="js/script.js"></script>
  </head>

  <body>
    <div id="page-wrapper">
      <div id="content">

        {{ content }}

      </div><!-- /#content -->
    </div><!-- /#page-wrapper -->

    <!-- Piwik -->
    <script type="text/javascript">
      var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.delattre.de/" : "http://stats.delattre.de/");
      document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 4);
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
      } catch( err ) {}
    </script>
    <noscript><p><img src="http://stats.delattre.de/piwik.php?idsite=4" style="border:0" alt="" /></p></noscript>
    <!-- End Piwik Tracking Code -->

  </body>
</html>

